.profile {
  background-color: #202020;
}

.profile__container {
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
  padding: 72px 0;
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 125px;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.2;
  color: #fff;
  width: 141px;
}

.profile__input {
  border: none;
  background-color: transparent;
  width: 122px;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #fff;
  padding: 0;
  margin-left: auto;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__userinfo {
  width: 122px;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
}

.profile__input-box {
  display: flex;
  justify-content: space-between;
}

.profile__input-box_name {
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__input-box_email {
  padding-top: 16px;
}

.profile__form-container {
  padding-bottom: 220px;
}

.profile__userinfo_email {
  padding-bottom: 220px;
}

.profile-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.profile-btn_edit_active {
  width: 410px;
  height: 45px;
  border-radius: 3px;
  background-color: #3456F3;
}

.profile-btn_disabled {
  background-color: #F8F8F8;
  color: #c2c2c2;
  cursor: default;
}

.profile-btn_exit_hide {
  display: none;
}

.profile-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile-btn_exit {
  font-weight: 500;
  color: #EE3465;
  padding-top: 16px;
}

.profile__link {
  display: block;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .profile__container {
    padding: 236px 0 269px;
  }

  .profile__title {
    padding-bottom: 96px;
  }

  .profile__form-container {
    padding-bottom: 210px;
  }
  
  .profile__userinfo_email {
    padding-bottom: 210px;
  }
}

@media screen and (max-width: 500px) {
  .profile__container {
    max-width: 260px;
    padding: 70px 10px 40px;
  }

  .profile__title {
    padding-bottom: 80px;
  }

  .profile__input-box_email {
    padding-bottom: 379px;
  }

  .profile__form-container {
    padding-bottom: 379px;
  }
  
  .profile__userinfo_email {
    padding-bottom: 0;
  }
}