.portfolio {
  background-color: #202020;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #8B8B8B;
  margin: 0;
}

.portfolio__container {
  padding: 0 70px 125px;
  margin: 0 auto;
}

.portfolio__list {
  list-style-type: none;
  margin: 0;
  padding: 50px 0 0 0;
}

.portfolio__item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.6;
  color: #fff;
  display: flex;
  justify-content: space-between;
  letter-spacing: -1.2px;
}

.portfolio__item-link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.portfolio__item {
  max-width: 1140px;
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #424242;
  padding-top: 20px;
}

.portfolio__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__item:first-child {
  padding-top: 0;
}

.portfolio__item-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-image: url(../../images/link-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 60px;
}

.portfolio__item-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .portfolio__item-link {
    font-size: 28px;
    max-width: 668px;
  }

  .portfolio__item-button {
    width: 27px;
  }

  .portfolio__item {
    max-width: 668px;
    padding-bottom: 10px;
  }

  .portfolio__container {
    padding: 0 50px 80px; 
  }
}

@media screen and (max-width: 380px) {
  .portfolio__item {
    padding-bottom: 20px;
    padding-top: 18px;
  }

  .portfolio__container {
    padding: 0 14px 70px; 
  }

  .portfolio__title {
    font-size: 14px;
  }

  .portfolio__item-link {
    font-size: 18px;
    max-width: 292px;
    letter-spacing: -0.72px;
  }

  .portfolio__list {
    padding: 42px 0 0 0;
  }

  .portfolio__item-button {
    width: 18px;
    height: 28px;
    background-image: url(../../images/320-link-icon.svg);
  }

}