.root {
  font-family: 'Inter', Arial, sans-serif;
}

.landing-container {
  padding: 110px 70px;
}

.landing-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  padding-bottom: 23px;
}