.navigation {
  display: flex;
  max-width: 1280px;
  width: 100%;
}

.navigation__list {
  display: flex;
  margin: 28px 0;
  gap: 16px;
  padding: 0;
}

.navigation__list_logged {
  margin-left: 45px;
}

.navigation__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  color: #fff;
  list-style-type: none;
}

.navigation__link:hover {
  font-weight: 500;
  cursor: pointer;
}

.navigation__link_signup {
  font-size: 12px;
  margin: 0px 0px 0px 919px;
}

.navigation__account-button {
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 40px;
  margin: 21px 70px 21px 746px;
  background-color: #073042;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.navigation__account-button_dark {
  background-color: #202020;
}

.navigation__account-button:hover {
  cursor: pointer;
}

.navigation__account-title {
  font-weight: 500;
  margin: 9.5px 7px 9.5px 11px;
  font-size: 13px;
  line-height: 1.4;
  color: #fff;
}

.navigation__account-icon {
  background-color: #0F4157;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-image: url(../../images/profile-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 3px 3px 3px 0;
}

.navigation__account-icon_dark {
  background-color: #313131;
}

.navigation__signin-button {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  border: none;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  color: #000;
  background-color: #3DDC84;
  margin: 21px 70px 21px 30px;
}

.navigation__signin-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navigation__link_signup {
    margin: 0 0 0 487px;
  }

  .navigation__signin-button {
    margin: 21px 30px;
  }
}

@media screen and (max-width: 320px) {
  .navigation__link_signup {
    margin: 0 0 0 122px;
    font-size: 10px;
  }

  .navigation__signin-button {
    margin: 24px 14px;
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
}