.header {
  background-color: #073042;
}

.header__container {
  max-width: 1280px;
  width: 100%;
  height: 74px;
  display: flex;
  margin: 0 auto;
}

.header_logged {
  background-color: #202020;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin-top: 18px;
  margin-left: 70px;
}

.header__link:hover {
  cursor: pointer;
}