.project {
  background-color: #202020;
}

.project__container {
  margin: 0 auto;
}

.landing-container {
  padding: 110px 70px;
}

.landing-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
}

.project__stages {
  border-top: 1px solid #dadada;
  display: flex;
  gap: 40px;
  padding-top: 70px;
}

.project__stages-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  letter-spacing: -0.8px;
}

.project__stages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  max-width: 550px;
  width: 100%;
  padding-top: 26px;
  margin: 0;
}

.project__timelines {
  padding-top: 110px;
  display: flex;
}

.project__timeline {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__timeline-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.project__timeline-text_backend {
  color: #000;
}

.project__timeline_frontend {
  color: #fff;
}

.project__timeline_backend {
  width: 228px;
  background-color: #3DDC84;
}

.project__timeline_frontend {
  width: 913px;
  background-color: #303030;
}

.project__timelines-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #8B8B8B;
  margin: 0;
  padding-top: 14px;
  text-align: center;
}

@media screen and (max-width: 1249px) {
  .project__container {
    max-width: 768px;
  }

  .landing-container {
    padding: 90px 50px;
  }

  .project__stages {
    width: 668px;
    gap: 30px;
  }

  .project__timelines {
    padding-top: 93px;
  }

  .project__timeline_backend {
    width: 140px;
  }

  .project__timeline_frontend {
    width: 528px;
  }

  .project__stages-text {
    padding-top: 22px;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .project__container {
    max-width: 320px;
  }

  .landing-container {
    padding: 70px 18px;
  }

  .landing-title {
    font-size: 18px;
    padding-bottom: 28px;
  }

  .project__stages {
    width: 284px;
    flex-direction: column;
    padding-top: 62px;
    gap: 56px;
  }

  .project__stages-text {
    font-size: 11px;
    padding-top: 16px;
    line-height: 1.5;
  }

  .project__stages-title {
    font-size: 18px;
    letter-spacing: -0.72px;

  }

  .project__timelines {
    padding-top: 58px;
  }

  .project__timeline_backend {
    width: 100px;
  }

  .project__timeline_frontend {
    width: 184px;
  }

  .project__timeline-text {
    font-size: 11px;
  }

  .project__timelines-text {
    font-size: 11px;
    padding-top: 10px;
  }
}