.about-me {
  background-color: #202020;
}

.about-me__container {
  margin: 0 auto;
  padding-bottom: 100px;
}

.about-me__info {
  border-top: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
}

.about-me__name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
  padding-top: 66px;
  letter-spacing: -2px;
}

.about-me__job {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  padding-top: 16px;
}

.about-me__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
  max-width: 600px;
  width: 100%;
  padding: 25px 0 97px;
}

.about-me__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
}

.about-me__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.about-me__img {
  padding-top: 66px;
}

@media screen and (max-width: 768px) {
  .about-me__img {
    width: 255px;
    height: 307px;
    margin-left: 49px;
  }

  .about-me__name {
    font-size: 40px;
    padding-top: 64px;
    letter-spacing: -1.6px;
  }

  .about-me__job {
    font-size: 12px;
    padding-top: 14px;
  }

  .about-me__text {
    font-size: 12px;
    max-width: 364px;
    padding-top: 18px;
    padding-bottom: 83px;
  }

  .about-me__container {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 579px) {
  .about-me__img {
    padding-top: 60px;
    width: 292px;
    height: 352px;
    margin: 0;
  }

  .about-me__info {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-me__name {
    font-size: 30px;
    padding-top: 40px;
    letter-spacing: -1.2px;
  }

  .about-me__job {
    font-size: 11px;
    padding-top: 22px;
  }

  .about-me__text {
    font-size: 11px;
    max-width: 292px;
    padding: 20px 0 38px;
    line-height: 1.5;
  }

  .about-me__container {
    padding: 70px 14px;
  }
}