.about-me {
  max-width: 1280px;
  width: 100%;
  background-color: #202020;
}

.about-me__info {
  border-top: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
}

.about-me__name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
  padding-top: 66px;
}

.about-me__job {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  padding-top: 18px;
}

.about-me__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
  max-width: 600px;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 99px;
}

.about-me__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
}

.about-me__img {
  padding-top: 66px;
}